frontend/.env
frontend/.env.development
frontend/node_modules

server/.env
server/node_modules
server/functions/.env
server/functions/node_modules

pinecone/.env
pinecone/venv

terminal/.env
terminal/venv